<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action ="/team"
   <label> Team Name : <input type="string" name="name"/></label> <br/>
   <label> Coach : <input type="string" name="coach"/></label> <br/>
   <label> Point Guard : <input type="string" name="pg"/></label> <br/>
   <label> Shooting Guard : <input type="string" name="sg"/></label> <br/>
   <label> Small Forward : <input type="string" name="sf"/></label> <br/>
   <label> Power Forward : <input type="string" name="pf"/></label> <br/>
   <label> Center : <input type="string" name="c"/></label> <br/>
   <input type="submit" id="submit" >
  </body>
</html>
