<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

  <form method="post" action="/team">
    <label>Team name: <input name="name" /></label></br></br>
    <label>Coach: <input name="coach"></label></br></br>
    <label>Point Guard: <input name="pg"></label></br></br>
    <label>Shooting Guard: <input name="sg"></label></br></br>
    <label>Power Forward: <input name="pf"></label></br></br>
    <label>Small Forward: <input name="sf"></label></br></br>
    <label>Center: <input name="c"></label></br></br>
    <button type="submit" value="submit">Submit</button>
  </form>

 </body>
</html>
