<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="post" action="/team">
     <p>Team Name: <input name="name" type="text"></input></p>
     <p>Coach: <input name="coach" type="text"></input></p>
     <p>Point Guard: <input name="pg" type="text"></input></p>
     <p>Shooting Guard: <input name="sg" type="text"></input></p>
     <p>Small Forward: <input name="sf" type="text"></input></p>
     <p>Power Forward: <input name="pf" type="text"></input></p>
     <p>Center: <input name="c" type="text"></input></p>
     <input type="submit" name="submit" id="submit" value="Submit"></input>
   </form>
 </body>
</html>
