<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <form action="/team" method="post">
     <p>Team name: <input type="text" name="name"></input></p>
     <p>Coach: <input type="text" name="coach"></input></p>
     <p>Point Guard: <input type="text" name="pg"></input></p>
     <p>Shooting Guard: <input type="text" name="sg"></input></p>
     <p>Power Forward: <input type="text" name="pf"></input></p>
     <p>Small Forward: <input type="text" name="sf"></input></p>
     <p>Center: <input type="text" name="c"></input></p>
     <input type="submit" name="submit" id="submit">
   </form>

 </body>
</html>
